# =========================
# Java / JVM
# =========================

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*


# =========================
# .NET / C# (Android & iOS)
# =========================

# Build output folders
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg
project.assets.json
project.nuget.cache
*.nuget.props
*.nuget.targets


# =========================
# Visual Studio / IDEs
# =========================

.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
